@tailwind base;
@tailwind components;
@tailwind utilities;



/*Heading*/

.header-container
{
  display: flex;
  justify-content: center;
  align-items: center;

}

.header
{
  
  text-align: center;
  display: flex;
}

.logo
{
  margin-right: 5px;
}

.heading
{
  color:rgb(236, 60, 136);
  font-size: 20px;
  font-family: Matura MT Script Capitals;
  margin-top: 4px;
}

/*log-info*/

.logInfo
{
  
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  align-items: center; 
  background-color: rgb(192, 94, 94);
}

.text1
{
  font-size: 8px;
}

.person
{
  
}











.Navbar
{
  background-color: rgb(221, 209, 209);
  text-decoration: none;
  color:white;
  padding: 5px;
  align-items: center;
}




h2
{
  padding: 10px;
  
}

.box{
  display: box;

}
.aboutDescription
{
  text-align: justify;
  padding: 10px;
  font-size: 20px;
  width:50%;
  margin: 0;
  clear: right;
}

.aboutPic
{
  align-items: right;

}

.aboutPic img{
  float: right;
}